# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


.button {   padding: 12px;   font-size: 1.1rem;   font-weight: 700;   background-color: #137df5;   border: none;   border-radius: 15px;   margin: 0 auto;   color: white;   cursor: pointer;   transition: background-color 0.25s ease;    &:hover {     background-color: #3787e6;   }    &:active {     background-color: #2b65ba;   } }  @media (max-width: 600px) {    .button {     font-size: 1rem;   } }